<h3>{{titulo}}</h3>
 <div>
 <button (click)="mostrarTipo(0);">Todos</button>
 <button (click)="mostrarTipo(1);">Concluidos</button>
 <button (click)="mostrarTipo(2);">Pendentes</button>
 </div>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Concluir</th>
        <!--<th>Excluir</th>-->
    </tr>
    </thead>
 
    <tbody>
	
        <tr *ngFor="let tarefa of tarefas; let i = index;" >
        <td *ngIf="this.mostrar == 0 || (this.mostrar == 1) && tarefa.concluido || (this.mostrar == 2) && !tarefa.concluido">{{ tarefa.nome }}</td> 
        <td *ngIf="this.mostrar == 0 || (this.mostrar == 1) && tarefa.concluido || (this.mostrar == 2) && !tarefa.concluido"><a *ngIf="!tarefa.concluido" (click)="atualizar(tarefa.tarefaID);" style="text-align = right;">Concluir</a></td>
		<img *ngIf="tarefa.concluido" src="http://localhost:8080/Imagem/{{tarefa.tarefaID}}">
		</tr>
        <tr>
           <td colspan="6" style="text-align: right;">Total de Registros: {{ tarefas.length }}</td> 
        </tr>
    </tbody>
</table>