#linha {
	background: #7ac015;
}

#coluna {
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-width: 2px;
	color: #e4ffa2;
}

#corpo {
	width: 90vw;
	margin-left: 5vw;
}

#cabecalho {
	height: 50px;
	background: #0b693c;
}

#texto {
	color: #ffffff;
	text-align: center;
}

#celula {
	text-align: center;
}